.financial{
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.legend{
  display: flex;
  margin-right: 300px;
  justify-content: flex-start;
}
.legend > div{
  margin: 15px;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.legend > div > p:nth-of-type(1){
  color: rgb(255, 99, 132);
}
.legend > div > p:nth-of-type(2){
  color: rgb(120,12,12);
}
.legend > div > p:nth-of-type(3){
  color: rgb(250,200,150);
}
.legend > div > p:nth-of-type(4){
  color: rgb(100,100,100);
}
.legend > div > p:nth-of-type(5){
  color: rgb(24, 33, 27);
}
.legend > div > p:nth-of-type(6){
  color: rgb(153, 237, 109);
}
.legend > div > p:nth-of-type(7){
  color: rgb(255, 205, 86);
}
.legend > div > p:nth-of-type(8){
  color: rgb(130, 49, 237);
}
.legend > div > p:nth-of-type(9){
  color: rgb(98, 137, 19);
}
.legend > div > p:nth-of-type(10){
  color: rgb(54, 162, 235);
}
.legend > div > p:nth-of-type(11){
  color: rgb(37, 87, 249);
}
.chart{
  display: block !important;
  width: 500px !important;
  height: 500px !important;
  font-size: 24px !important;
}
/*  */
