<div class="nav">
  <div class="input">
    <img src="../../assets/icons/search.svg" alt="" /><input type="text" />
  </div>
  <a href="https://agricapture.com/contact/" target="_blank">Contact Us</a>
  <a href="https://agricapture.com/news-company-updates/" target="_blank">About Us</a>
  <button *ngIf="(!profile)" (click)="togglePopup()">Log In</button>
  <button *ngIf="(profile)" (click)="logOut()">Log Out</button>
  <img *ngIf="(!profile)" src="../../assets/icons/profile-icon.svg" alt="" />
  <img *ngIf="(profile)" src="https://i.pinimg.com/736x/d9/56/9b/d9569bbed4393e2ceb1af7ba64fdf86a.jpg" alt="" />
</div>
<div class="popup" [ngClass]="{ active: popup }">
  <div class="overlay"></div>
  <div class="content">

    <h1>Log in</h1>
    <span>Try : Zheng Mu</span>
    <div class="form-container">
      <!-- Form -->
      <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" ngModel required/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" ngModel required/>
        </div>
        <button [disabled]="!loginForm.valid" class="loginBtn" (click)="getLogin(loginForm)" type="submit">Submit</button>
        <p *ngIf="(user)">User doesn't exist!</p>
      </form>
    </div>
  </div>
</div>
<!--  -->
